:root {
    --primary-color: #342a69;
    --secondary-color: #ef2e72;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--primary-color);
}

h1, 
h3,
h5,
p, 
a {
    text-decoration: none;
    color: whitesmoke;
}

h1,
h3,
a {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
}

h5,
p {
    font-family: "Oxygen", sans-serif;
}

/* header */

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 10%;
    background-color: var(--primary-color);
}

header nav {
    list-style: none;
}

header nav li {
    display: inline-block;
    padding: 0px 20px;
}

header nav li a {
    transition: all 0.2s ease 0s;
    font-size: 16px;
    font-weight: 300;
}

header nav li a:hover {
    color: var(--secondary-color);
}

/* home */

.home-section {
    margin: 0 auto;
    margin-top: 2em;
    text-align: center;
}

.home-section img {
    border-radius: 50%;
    width: 300px;
    display: inline-block;
    margin: auto;
    overflow: hidden;
}

.home-section h1 {
    text-align: center;
}

.home-section p {
    margin-left: 25vw;
    margin-right: 25vw;
    text-align: justify;
    text-align-last: center;
}